
.L-R-card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 20px;
    width: 100%;
    height: 100%;
    gap: 8px
}


.register-form {
    display: flex;
    flex-direction: column;
    max-width: 25vh;
    margin-left: 10px;
    gap: 8px
}

.to-login-link {
    color: #6f4e37;
    margin-top: 32px;
    background: transparent;
    border: transparent;
}

.form-inputs {
    background: transparent;
    border: solid #6f4e37;
    border-radius: 5px;
    color:#6f4e37;

}

.form-inputs:focus {
    background: transparent;
    border: solid 2px #74a12e;
}


.to-login-link:hover {
    color: #74a12e;
    text-underline-offset: solid 8px;
}

.send-button {
    background: transparent;
    border: solid 2px #6f4e37;
    color: #6f4e37; 
    width: 50%;
    margin-left: auto;
}

.send-button:hover {
    background-color: #6f4e37;
  color: wheat; 
  cursor: pointer;
}